<cdk-accordion class="example-accordion">
    <cdk-accordion-item
        *ngFor="let action of actions; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            {{ action }}
        </div>
        <div [ngSwitch]="index"
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">

            <div *ngSwitchCase="0">
                <form [formGroup]="insertPkgForm" (ngSubmit)="insertPkg()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="textarea">
                        <mat-label>Package (as JSON)</mat-label>
                        <textarea matInput 
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="20"
                            cdkAutosizeMaxRows="20"
                            name="pkgJson"
                            formControlName="pkgJson">
                        </textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!insertPkgForm.valid">Submit</button>
                </form>
                <div *ngIf="insertPkgForm">
                    <div>
                        <pre>{{ insertPkgResult | json }}</pre>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="1">
                <form [formGroup]="getPkgForm" (ngSubmit)="getPkg()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="field">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!getPkgForm.valid">Submit</button>
                </form>
                <div *ngIf="getPkgResult">
                    <div>
                        <pre>{{ getPkgResult | json }}</pre>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="2">
                <form [formGroup]="removeCommentsForm" (ngSubmit)="removeComments()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="field">
                        <mat-label>Package name</mat-label>
                        <input matInput formControlName="pkgName">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!removeCommentsForm.valid">Submit</button>
                </form>
                <div *ngIf="removeCommentsResult">
                    <div>
                        <pre>{{ removeCommentsResult | json }}</pre>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="3">
                <form [formGroup]="getNamesOfSortedPkgsForm" (ngSubmit)="getNamesOfSortedPackagesByName()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="field">
                        <mat-label>Field name</mat-label>
                        <input matInput formControlName="fieldName">
                    </mat-form-field>
                    <mat-form-field class="field">
                        <mat-label>Limit</mat-label>
                        <input type="number" matInput formControlName="limit">
                    </mat-form-field>
                    <mat-form-field class="field">
                        <mat-label>Offset</mat-label>
                        <input type="number" matInput formControlName="offset">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!getNamesOfSortedPkgsForm.valid">Submit</button>
                </form>
                <div>
                    <pre>{{ namesOfSortedPkgsResult | json }}</pre>
                </div>
            </div>

            <div *ngSwitchCase="4">
                <form [formGroup]="mostVotedPkgsForm" (ngSubmit)="getMostVotedPkgs()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="field">
                        <mat-label>Limit</mat-label>
                        <input type="number" matInput formControlName="limit">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!mostVotedPkgsForm.valid">Submit</button>
                </form>
                <div *ngIf="mostVotedPkgsResult">
                    <div class="chart">
                        <app-bar-chart [chartData]="mostVotedPkgsResult.result | chartDataSeries:'name':'votes':'Votes'"></app-bar-chart>
                    </div>
                    <div>
                        <pre>{{ mostVotedPkgsResult | json }}</pre>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="5">
                <form [formGroup]="packagesOccurencesForm" (ngSubmit)="getPackagesOccurencesInDeps()">
                    <div class="radio-group">
                        <mat-button-toggle-group formControlName="targetDb">
                            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
                            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
                            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field class="field">
                        <mat-label>Package names</mat-label>
                        <input matInput formControlName="pkgNames">
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!packagesOccurencesForm.valid">Submit</button>
                </form>
                <div *ngIf="packagesOccurencesResult">
                    <div class="chart">
                        <app-bar-chart [chartData]="packagesOccurencesResult.result | chartDataSeriesFromMap:'Package count'"></app-bar-chart>
                    </div>
                    <div>
                        <pre>{{ packagesOccurencesResult | json }}</pre>
                    </div>
                </div>
            </div>

        </div>
    </cdk-accordion-item>
</cdk-accordion>
  
  