<div class="container">

    <mat-form-field class="textarea-field" color="primary">
        <mat-label>Query</mat-label>
        <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="8"
                name="query"
                placeholder="Write query here" 
                [(ngModel)]="query">
        </textarea>  
    </mat-form-field>

    <div class="radio-field">
        <mat-button-toggle-group [(ngModel)]="targetDb">
            <mat-button-toggle value="SurrealDb">SurrealDB</mat-button-toggle>
            <mat-button-toggle value="Redis">Redis</mat-button-toggle>
            <mat-button-toggle value="Skytable">Skytable</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-checkbox [(ngModel)]="doRepeat">Repeat</mat-checkbox>
    <mat-form-field *ngIf="doRepeat" class="repeatings-field">
        <mat-label>Number of repeatings</mat-label>
        <input matInput name="numberOfRepeatings" [(ngModel)]="numberOfRepeatings">
    </mat-form-field>

    <button mat-raised-button color="primary" class="run-button" (click)="runQuery()">Run</button>

    <mat-form-field class="textarea-field">
        <mat-label>Query result (seconds: {{ result.duration.secs }}, nanoseconds: {{ result.duration.nanos }})</mat-label>
        <textarea matInput 
            disabled="true"
            cdkTextareaAutosize
            cdkAutosizeMinRows="25"
            cdkAutosizeMaxRows="25"
            name="result"
            [ngModel]="result.result">
        </textarea>  
    </mat-form-field>
 
</div>