@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$deep-orange-palette),
   accent: mat.define-palette(mat.$brown-palette),
 ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.form-field-theme($dark-theme);
@include mat.input-theme($dark-theme);
@include mat.button-toggle-theme($dark-theme);
@include mat.checkbox-theme($dark-theme);

html, body { height: 100%; }
body {
  width: 100%;
  margin: 0; 
  background-color: rgb(87, 85, 85);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}